<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MediaFilter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MediaFilter.Properties.Settings>
            <setting name="PluginCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ImportMediaLocation" serializeAs="String">
                <value>D:\</value>
            </setting>
            <setting name="ExportFilterLocation" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="ImportDivideLocation" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="ToleranceStart_MediaDivide" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ToleranceEnd_MediaDivide" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IssueCount_MediaDivide" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FileCount_MediaDivide" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ExportDivideFileLocation" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="FileGap_MediaDivide" serializeAs="String">
                <value>0</value>
            </setting>
        </MediaFilter.Properties.Settings>
    </userSettings>
</configuration>